<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  th:replace="~{layout/base :: layout(~{::title}, ~{::link}, ~{::body/content()})}"
>
<head>
<meta charset="UTF-8">
<title>レシピ詳細</title>
<link />
</head>
<body>
  <div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h2 class="mt-2">レシピ詳細</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
      <!-- Main-body start -->
      <div class="main-body">
        <div class="page-wrapper">
          <!-- Page-body start -->
          <div class="page-body">
            <!-- message -->
            <div th:replace="fragments :: message"></div>

            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h4>詳細</h4>
                  </div>
                  <div class="card-block">
                    <th:block th:object="${recipe}">
                      <div class="form-group row">
                        <div class="col-sm-1">
                          <label for="id">ID</label>
                          <input type="text" class="form-control" th:field="*{id}" readonly>
                        </div>
                        <div class="col-sm-11">
                          <label for="name">名前</label>
                          <input type="text" class="form-control" th:field="*{name}" readonly>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                          <label for="name">カテゴリー</label>
                          <input type="text" class="form-control" th:field="*{category.name}" readonly>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                          <label for="name">サブカテゴリー</label>
                          <input type="text" class="form-control" th:field="*{subcategory.name}" readonly>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                          <label for="name">おすすめアルコール</label>
                          <input type="text" class="form-control" th:field="*{alcohol.name}" readonly>
                        </div>
                      </div>
                      <div class="btn-toolbar">
                        <div class="ml-2">
                          <a class="btn btn-secondary waves-effect waves-light" th:href="@{/recipes}">戻る</a>
                        </div>
                        <div class="ml-auto mr-2">
                          <a class="btn btn-success btn-sm m-1" th:href="@{/recipes/edit/{id}(id=${recipe.id})}">編集</a>
                        </div>
                      </div>
                    </th:block>
                  </div>
                </div>
                <!-- Hover table card start -->
                <div class="card">
                  <div class="card-header">
                      <h5>手順詳細</h5>
                  </div>
                  <div class="card-block table-border-style">
                    <div class="table-responsive">
                      <table class="table table-hover table-sm">
                        <thead>
                          <tr>
                            <th scope="col">手順</th>
                            <th scope="col">詳細</th>
                            <th scope="col" style="width: 5%"></th>
                            <th scope="col" style="width: 5%"></th>
                            <th scope="col" style="width: 5%"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each ="recipe.processes : ${Process}">
                            <th  scope="row" th:text ="${processes.id}"></th>
                            <td th:text ="${processes.process}"></td>
                            <td>
                              <!--<a class="btn btn-primary btn-sm m-1" th:href="@{/recipes/edit/{id}(id=${recipe.processes.id})}">詳細</a>-->
                            </td>
                            <td>
                              <!--<a class="btn btn-danger btn-sm m-1 link-delete" th:href="@{/recipes/edit/{id}(id=${recipe.processes.id})}">削除</a>-->
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- Hover table card end -->
              </div>
            </div>
          </div>
          <!-- Page-body end -->
          <div th:replace="fragments :: confirm_modal"></div>
        </div>
      </div>
      <!-- Main-body end -->
    </div>
  </div>

</body>
</html>